@page
@model ProjetoFinal.Pages.Planejamento.Create

<h1>Adicionar ao Planejamento</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-dange"></div>
            <input type="hidden" asp-for="PlanejamentoModel.PlanejamentoID"/>
            <div class="form-group">
                <label asp-for="PlanejamentoModel.Titulo"></label>
                <input asp-for="PlanejamentoModel.Titulo" class="form-control" placeholder="Conteúdo, prova, apresentação de trabalho, etc." required/>
                <span asp-validation-for="PlanejamentoModel.Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanejamentoModel.Descricao"></label>
                <input asp-for="PlanejamentoModel.Descricao" class="form-control" placeholder="Descrição da atividade que será desenvolvida" required/>
                <span asp-validation-for="PlanejamentoModel.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanejamentoModel.Data"></label>
                <input asp-for="PlanejamentoModel.Data" type="date" class="form-control" value="@DateTime.Now">
                <span asp-validation-for="PlanejamentoModel.Data" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Adicionar"/>
                <a asp-page="/Planejamento/Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>