<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <style>
            .table-hover-custom tbody tr:hover {
                background-color: #ece6ff;
            }
        </style>
        <title>SchoolPlanner</title>
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header>
            <partial name="./_MainMenuPartialPage.cshtml"/>
        </header>
        <main>
            @RenderBody()
        </main>
        <hr>
        <footer class="bg-primary text-white py-3">2023 - SchoolPlanner</footer>

        @RenderSection("scripts", required:false)
    </body>
</html>