@page
@model ProjetoFinal.Pages.Nota.Delete

<div>
    <h1>Detalhes das notas para remover:</h1>

    <p><strong>Prova 1:</strong> @Model.NotaModel.Prova1</p>
    <p><strong>Prova 2:</strong> @Model.NotaModel.Prova2</p>
    <p><strong>Trabalho:</strong> @Model.NotaModel.Trabalho</p>
    <p><strong>Atividade:</strong> @Model.NotaModel.Atividade</p>
</div>

<form method="post">
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger">
        <a asp-page="/Nota/Index" class="btn btn-primary">Retornar para a listagem de notas</a>
    </div>
</form>